<section class=" w-screen h-auto sm:h-screen flex justify-center items-center flex-row-reverse relative" style="background-image: url('img/containersdiv.jpg'); background-size: cover; background-position: center;">
    <div class="overlay"></div>
    <article class="flex flex-col justify-center xl:max-w-xl md:max-w-5xl sm:max-w-2xl bg-white px-4 sm:px-10 z-10 w-full py-20 border-l-8 border-red-300 md:rounded-l-2xl md:h-full bg-vermelho-claro w-[380px]  md:w-[600px] aup my-10 sm:my-0">
        <a href="/entry"><div class="flex flex-row gap-1 items-center absolute top-0 right-0 p-4"><img src="img/icons/backIcons/redBackIcon.svg" width="36" height="36" alt=""> <span class="font-bold text-red-300 hidden sm:block">Voltar</span></div></a>
        <div class="flex flex-row justify-center items-center gap-2 mb-6"><span class="font-bold text-2xl sm:text-3xl ">Dados de Saída </span><img src="img/icons/exitIcon.svg" width="36" height="36" alt=""></div>
        <div class="flex flex-col gap-2 mb-7">
        <input type="text" class="border border-2 border-red-300 rounded-lg py-2 px-4 placeholder-red-400" placeholder="Digite o Tipo"/>
        <input type="text" class="border border-2 border-red-300 rounded-lg py-2 px-4 placeholder-red-400" placeholder="Digite o OS"/>
        <input type="text" class="border border-2 border-red-300 rounded-lg py-2 px-4 placeholder-red-400" placeholder="Digite a data da saída"/>
        <input type="text" class="border border-2 border-red-300 rounded-lg py-2 px-4 placeholder-red-400" placeholder="Digite o CNPJ do Amador"/>
        <input type="text" class="border border-2 border-red-300 rounded-lg py-2 px-4 placeholder-red-400" placeholder="Nº completo do Container"/>
        <input type="text" class="border border-2 border-red-300 rounded-lg py-2 px-4 placeholder-red-400" placeholder="CNPJ do Depósito"/>
        <input type="text" class="border border-2 border-red-300 rounded-lg py-2 px-4 placeholder-red-400" placeholder="Nome do Depósito"/>
        <input type="text" class="border border-2 border-red-300 rounded-lg py-2 px-4 placeholder-red-400" placeholder="Código do Terminal Operacional"/></div>
        <button class="py-2 sm:py-2 px-16 bg-red-300 text-base sm:text-lg rounded-xl flex flex-row gap-3 hover-group hanuman-bold justify-center">Conferir</button>
    </article>
    <article class="w-full hidden md:block"></article>
</section>

