<section class=" w-screen sm:h-screen h-auto flex justify-center items-center flex-row relative"
    style="background-image: url('img/containersdiv.jpg'); background-size: cover; background-position: center;">
    <div class="overlay"></div>
    <article
        class="flex flex-col justify-center xl:max-w-xl md:max-w-5xl sm:max-w-2xl  bg-white px-4 sm:px-10 z-10 w-full py-20 border-r-8 border-blue-300 md:rounded-r-2xl md:h-full bg-azul-claro w-[380px]  md:w-[600px] aup my-10 sm:my-0 ">
        <a href="/check-depot">
            <div class="flex flex-row gap-1 items-center absolute top-0 left-0 p-4"><img
                    src="img/icons/backIcons/blueBackIcon.svg" width="36" height="36" alt=""> <span
                    class="font-bold text-blue-500 hidden sm:block">Voltar</span></div>
        </a>
        <div class="flex flex-row justify-center items-center gap-2 mb-6"><img src="img/icons/entryIcon.svg" width="36"
                height="36" alt="">
            <p class="font-bold text-2xl sm:text-3xl ">Dados de Entrada</p>
        </div>
        <div class="flex flex-col gap-2 mb-7">
            <input type="text" class="border border-2 border-blue-300 rounded-lg py-2 px-4 placeholder-blue-400"
                placeholder="Digite o Tipo" />
            <input type="text" class="border border-2 border-blue-300 rounded-lg py-2 px-4 placeholder-blue-400"
                placeholder="Digite o OS" />
            <input type="text" class="border border-2 border-blue-300 rounded-lg py-2 px-4 placeholder-blue-400"
                placeholder="Digite a data" />
            <input type="text" class="border border-2 border-blue-300 rounded-lg py-2 px-4 placeholder-blue-400"
                placeholder="Digite o CNPJ do Amador" />
            <input type="text" class="border border-2 border-blue-300 rounded-lg py-2 px-4 placeholder-blue-400"
                placeholder="Nº completo do Container" />
            <input type="text" class="border border-2 border-blue-300 rounded-lg py-2 px-4 placeholder-blue-400"
                placeholder="ISO Code do Container" />
            <input type="text" class="border border-2 border-blue-300 rounded-lg py-2 px-4 placeholder-blue-400"
                placeholder="Nome do Depósito" />
            <input type="text" class="border border-2 border-blue-300 rounded-lg py-2 px-4 placeholder-blue-400"
                placeholder="Código do Terminal Operacional" />
        </div>
        <button
            class="py-2 sm:py-2 px-16 bg-blue-300 text-base sm:text-lg rounded-xl flex flex-row gap-3 hover-group hanuman-bold justify-center"
            onclick="window.location.href='/exit'">Conferir</button>
    </article>
    <article class="w-full hidden md:block flex justify-center">
        <img class="gifCustom mx-auto w-[800px] h-[400px] lg:h-[600px]" src="gif/entry.gif" alt="">
    </article>
</section>