<section class=" w-screen h-screen flex justify-center items-center flex-row relative"
    style="background-image: url('img/containersdiv.jpg'); background-size: cover; background-position: center;">
    <div class="overlay"></div>
    <article class="bg-verde-claro rounded-2xl px-3 py-10 sm:p-10 md:p-20 border-4  border-green-500">
        <div class="flex flex-col lg:flex-row gap-10 items-center mb-8">
        <div class="success-animation">
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
            </div>
        
        <p class="text-lg sm:text-xl md:text-3xl font-semibold text-center"> Seus dados foram recebidos com sucesso!</p></div>
    <div class="flex justify-center">
        <button class="bg-green-500 rounded-xl px-6 py-2 flex flex-row gap-4 hover-group items-center text-sm sm:text-md font-semibold" onclick="window.location.href='/'"><img src="img/icons/backIcons/blackHomeIcon.svg" width="28" height="28" class="hover-group homeIcon"
            alt="Lupa"> Voltar a página inicial</button></div></article>
</section>