@tailwind base;
@tailwind components;
@tailwind utilities;

.hanuman-regular {
    font-family: "Hanuman", serif;
    font-weight: 400;
    font-style: normal;
  }

  .hanuman-bold {
    font-family: "Hanuman", serif;
    font-weight: 700;
    font-style: normal;
  }

  .bg-verde-claro{
    background-color: #f0f7f0;
}

.bg-verde-escuro{
  background-color: #3b753e;
}